body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 { 
    font-size: 100px; 
    font-weight: bold;
    color: khaki; 
    display: inline-block; 
    background-image: url("pattern.jpg");
} 

h2 {
    font-size: 32px;
    font-weight: bold; 
    color: white;
}

#strong {
    font-weight: bold;
    color: blue;
} 

.bg-green {
    background-color: mediumspringgreen;
} 

.bg-blue {
    background-color: skyblue;
} 

.bg-pink {
    background-color: lightcoral;
}