body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: rgb(161, 169, 255);
}

h1{
    text-align: center;
} 
 
h2{ 
    color: blue;
    text-align: center;
}  

table{ 
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    background-color: rgb(161, 169, 255);
    text-align: start;
    border: 2px solid blue;
    font-variant: normal; 
    margin: auto; 
    width: 50%;
}

thead{
    background-color: rgb(66, 119, 250);  
    text-align: center; 
    border: 2px solid black; 
    font-weight: 900;
}

tr {
    display: table-row;
} 

td {
    padding: 3px; 
    
}

tbody .tag {
    background-color: aliceblue; 
    font-family: monospace;
}

.tag {
    
    border: 2px solid black;
} 

.name {
    border: 2px solid black
} 

.description {
    border: 2px solid black
}