body{
    font-family: 'Nunito', sans-serif; 
    margin: 0 10%;
}

div {
    display: block; 
} 
h1 {
    font-weight: bold;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
} 

.colorbox { 
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px; 
    font-weight: bold;
} 

.blue {
    background-color: blue;
} 

.red {
    background-color: red; 
}

.green {
    background-color: green; 
}

.pink { 
    background-color: pink;
}

.white-letters {
    color: white;
} 

.font-title {
    text-decoration: underline;
} 

.bold {
    font-weight: bold;
} 

.italic {
    font-style: italic;
} 
.font-panel {
    display: inline-block;
    width: 45%;
} 
.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.popins {
    font-family: 'Poppins', sans-serif;
}